<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconFile</key>
	<string>diceware.png</string>
	<key>CFBundleIdentifier</key>
	<string>fm.kelloggs.DiceWare</string>
	<key>CFBundleName</key>
	<string>Generate Password</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LBAbbreviation</key>
	<string>Length</string>
	<key>LBDescription</key>
	<dict>
		<key>LBAuthor</key>
		<string>Greg Kellogg</string>
		<key>LBEmail</key>
		<string>greg@kelloggs.fm</string>
		<key>LBSummary</key>
		<string>Generates a Diceware password</string>
		<key>LBTwitter</key>
		<string></string>
		<key>LBWebsiteURL</key>
		<string></string>
	</dict>
	<key>LBScripts</key>
	<dict>
		<key>LBDefaultScript</key>
		<dict>
			<key>LBAcceptedArgumentTypes</key>
			<array>
				<string>string</string>
			</array>
			<key>LBKeepWindowActive</key>
			<true/>
			<key>LBRequiresArgument</key>
			<true/>
			<key>LBResultType</key>
			<string>string</string>
			<key>LBReturnsResult</key>
			<true/>
			<key>LBScriptName</key>
			<string>diceware.rb</string>
		</dict>
	</dict>
	<key>LBTextInputTitle</key>
	<string>Length</string>
</dict>
</plist>
